body {
	background-color: #222;
	color: white;
}
section.container {
	background-color: #000000;
	width: auto;
}
header {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	background-color: #ff00e94a;
}
main {
	display: flex;
	flex-flow: column;
	background-color: #da411366;
	text-align: center;
}
footer {
	display: flex;
	flex-flow: column;
	background-color: #6e424266;
}


label, input, button, span {
	padding:1em 1.1em;
	margin:0.3em;
	line-height:2em;
}

.reses {
	display: flex;
	justify-content: center;
}
.res {
	margin: 0.5em 1em;
}

#inp-play {
	background-color: rgb(99, 104, 84);
	border-radius: 8px;
}