body {
	background-color: #444;
	color: white;
	font-size: 1.6em;
	margin: 50px 250px;
}
h1 {text-align: center;}
label, input, button, span {
	padding:1em 1.1em;
	margin:0.3em;
	line-height:2em;
}
#inp-play, #btn-ply, #btn-rst {
	width:200px
}

form {text-align: center;}

#game-over {padding-top: 1.5em;}
#end-msg {color: lightslategrey}
#winner {color: yellow;padding-bottom: 1.5ex;}
#who-ply, #where-plyd, #winner, #end-msg, #game-over {text-align: center}

.reses {
	display: flex;
	justify-content: center;
}
.res {
	margin: 0.5em 1em;
}

#inp-play {
	background-color: rgb(99, 104, 84);
	border-radius: 8px;
}